.Card {
    background-color: white;
    box-shadow: 0 4px 8px 0 gray;
    max-width: 300px;
    min-width: 50px;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    position: relative;
  }

.Card button {
position: absolute;
right: 8px;
top: 8px;
}